.main {
    width: 68%;
    height: 85.5%;
    margin: 2%;
    border: 1px solid black;
    /* background-color: aqua; */
}

.test {
    width: 100px;
    height: 60px;
    border: 1px solid black;
}

.test4 {
    background-image: url('red.png');
    background-repeat: no-repeat;
    background-size: 90px 80px;
    /* margin: 10px */
}

.test5 {
    background-image: url('blue.png');
    background-repeat: no-repeat;
    background-size: 90px 90px;
    /* margin: 10px */
}

.test1 {
    display: flex;
    flex-direction: row;
}

.top {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.player_section {
    margin-top: 6%;
}

#button2 {
    display: none;
}

#button {
    width: 100px;
    height: 50px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
}

#button1 {
    width: 100px;
    height: 50px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
}

#button2 {
    width: 140px;
    height: 50px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
}

#h2 {
    font-size: 40px;
    color: orange;
}

.h4 {
    color: green;
    font-weight: bold;
}

.snake {
    color: red;
    font-weight: bold;
}

.second {
    background-image: url("ladder.jpeg");
    background-repeat: no-repeat;
    background-size: 90px 100px;
}

.first {
    background-image: url("snake.jpeg");
    background-repeat: no-repeat;
    background-size: 90px 100px;
}

.img {
    margin: 10px;
    display: none;
}