.main {
    width: 58%;
    height: 85.5%;
    margin: 2%;
    border: 1px solid black;
}

.test {
    width: 100px;
    height: 60px;
    background-color: aqua;
    border: 1px solid black
}

.test1 {
    display: flex;
    flex-direction: row;
}

.top {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.player_section {
    margin: 6%;
}

#button2 {
    display: none;
}

#button {
    width: 100px;
    height: 50px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
}

#button1 {
    width: 100px;
    height: 50px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
}

#button2 {
    width: 140px;
    height: 50px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
}

#h2 {
    font-size: 40px;
    color: orange;
}

.h4 {
    color: green;
    font-weight: bold;
}

.snake {
    color: red;
    font-weight: bold;
}